/* CSS Reset */
*{
    box-sizing: border-box;
    padding: auto;
    margin: auto;
};

body{
        font-family: "Benne", serif;
        font-weight: 400;
        font-style: normal;
};

h1{
    font-size: large;
    color: red;
}