/* CSS Reset */
*{
    box-sizing: border-box;
    margin: auto;
    padding: auto;
}

body{
    color: black;
    font-family: "Benne", serif;
    font-weight: 400;
    margin: 5px 30px 5px;
}

h1{
    font-size: large;
    color: black;
    text-align: center;
    font-size: 35px;
    margin-bottom: 22px;
}

.description{
    color: #2b6c6c;
    margin-bottom: 60px;
}

.side{
    line-height: 22px;
}

.intestation{
    font-size: 18px;
}

#interests{
    float: left;
}

#moto-img{
    width: 200px;
}

#languages{
    width: 30%;
    float: right;
    background-color: pink;
    padding: 4px 0;
}

#coding{
    
}