/* CSS Reset */
*{
    box-sizing: border-box;
    margin: auto;
    padding: auto;
}

body{
    color: black;
    font-family: "Gelasio", serif;
    font-weight: 400;
    font-style: normal;
    font-weight: 400;
    margin: 5px 30px 5px;
    background-color: blanchedalmond;
}

h1{
    font-size: large;
    font-family: "Averia Sans Libre", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: 45px;
    margin-bottom: 25px;
}

.description{
    color: #2b6c6c;
    margin-bottom: 60px;
}

/* Sections */
.center{
    display: flex;
}

.side{
    line-height: 22px;
}

.intestation{
    font-size: 18px;
}

#interests{
    width: 70%;
}

#moto-img{
    margin-top: 15px;
    width: 230px;
}

#languages{
    width: 30%;
    background-color: pink;
    padding: 4px 0;
}

#coding{
    width: 100%;
}